page-home {
  #gmap {
    height: 100%;
  }
  #pac-input{
    text-overflow: ellipsis;
    background-color:whitesmoke;
    margin-right: 0%;
    border-color: aqua;
    padding: 0 11px 0 13px;
  }
  
}
